article {
  margin: 15px auto;
  padding: 15px;
  border: 2px solid darkgrey;
  max-width: max-content;

  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: flex-start;
  align-items: flex-start;
}

.main {
  display: block;
}

.genres {
  display: inline-flex;
}

.genre {
  margin-left: 20px;
}

.actor {
  margin-right: 10px;
}
.cast {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
